<a href="https://colab.research.google.com/github/pablohmoha/web-scraping-magic-with-scrapy-and-python/blob/master/Practice_Notebook_Data_Wrangling_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Practice Notebook: Data Wrangling with Python

## Pre-requisites

In [0]:
# Pre-requisite 1
# ---
# Importing pandas library for data manipulation
# ---
# OUR CODE GOES BELOW
# 
import pandas as pd

In [0]:
# Pre-requisite 2
# ---
# Importing numpy library for scientific computations
# ---
# OUR CODE GOES BELOW
# 
import numpy as np

## 1. Reading Data

In [0]:
# Example 1
# --- 
# Loading a dataset (csv file) from a url 
# ---
# Dataset url (csv file) = http://bit.ly/IrisDataset
# ---
# OUR CODE GOES BELOW
# 

# Reading our csv file from the given url 
df = pd.read_csv("http://bit.ly/IrisDataset")

# Previewing the first 5 records
df.head()

In [0]:
# Challenge 1a
# ---
# Question: Load the following video games dataset and preview the first 5 records.
# Hint: Use a different dataframe that the one used in the example dataset 
#       i.e. using the dataframe name "video_df" rather using the dataframe name "df"
#       If you use the same dataframe names for the examples and challenges you 
#       might experience a crash.
#       We will be using this dataset for most of the challenges.
# ---
# Dataset url (csv file) = http://bit.ly/VideoGamesSalesDataset
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Challenge 1b
# ---
# Question: Load a dataset (excel file) from the url below
# Hint: use the read_excel() function rather than using the read_csv() function
# ---
# Dataset url = http://bit.ly/WindmillDataset
# ---
# OUR CODE GOES BELOW
#

## 2. Data Exploration

In [0]:
# Example 2a
# ---
# Determining the no. of records in the dataset 
# NB: We will use the above loaded dataset in example 1
# ---
# OUR CODE GOES BELOW
#

# Shape returns no. or records/instances (left) and columns/variables (right)
#
df.shape

In [0]:
# Challenge 2a
# ---
# Question: Determine the no. of records in the our video games dataset.
# ---  
# OUR CODE GOES BELOW
#

In [0]:
# Example 2b
# ---
# Previewing the last few records/instances of our dataset
# NB: last() gives us the last 5 records/instances
# ---
# OUR CODE GOES BELOW
#
df.tail()

In [0]:
# Challenge 2c
# ---
# Question: Preview the last few records in the video games dataset.
# Hint = Use the dataframe you created for this dataset. 
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Example 2c
# ---
# Checking the datatypes of df variables (columns)
# --- 
# OUR CODE GOES BELOW
#
df.dtypes

In [0]:
# Challenge 2d
# ---
# Question: Check the datatypes of the video games dataset.
# ---
# OUR CODE GOES BELOW
#

## 3. Missing Data

In [0]:
# Example 3a
# ---
# Checking for missing data
# NB: This method may not be the most convenient. Why? 
# --- 
# 
# We can check if there is any missing values in the entire dataframe as shown 
# ---
# OUR CODE GOES BELOW
# 
df.isnull()

In [0]:
# Example 3b
# --- 
# We can also check for missing values in each column 
# ---
# OUR CODE GOES BELOW
#
df.isnull().any()

In [0]:
# Example 3c
# ---
# We can check how many missing values there are across each column by 
# ---
# OUR CODE GOES BELOW
#
df.isnull().sum()

In [0]:
# Example 3d
# ---
# We can also check to see if we have any missing values in the dataframe  
# ---
# OUR CODE GOES BELOW
#
print(df.isnull().values.any())

In [0]:
# Example 3e: Method 1
# ---
# Dealing with the missing data
# ---
# OUR CODE GOES BELOW
# 

# We can drop the missing observations 
# ---
#
df_no_missing = df.dropna()

# Checking for missing data
df_no_missing.isnull().sum()

In [0]:
# Example 3e: Method 2
# ---
# We can drop rows where all cells in that row is NA
# ---
# OUR CODE GOES BELOW
# 
df_cleaned = df.dropna(how='all')

# Checking the shape of our dataset
df_cleaned.shape

In [0]:
# Example 3e: Method 3
# ---
# We could drop columns if they only contain missing values
# ---
# OUR CODE GOES BELOW
# 
df_without_columns = df.dropna(axis=1, how='all')

# Checking the shape of our dataset
df_without_columns.shape

In [0]:
# Example 3e: Method 4
# ---
# We could drop rows that contain less than five observations
# ---
# OUR CODE GOES BELOW
# 
df.dropna(thresh=5)

# Checking the shape of our dataset
df.shape


# Further reading
# ----
# Above are only a few methods of dealing with missing data.

In [0]:
# Challenge 3a
# ---
# Question: Find the missing values in the video games datset below
# You can use any of the above methods to you see fit.
# ---  
# OUR CODE GOES BELOW
#

In [0]:
# Challenge 3b
# ---
# Question: Handle the missing values in video games dataset
# You can any of the above methods that you see fit.
# ---
# OUR CODE GOES BELOW
#

## 4. Filtering

In [0]:
# Example 4a
# ---
# Selecting rows when columns contain certain values
# ---
# NB: Selecting records where petal_length is 5.0 
# ---
# OUR CODE GOES BELOW
# 

# Selecting the records where column has certain values 
# ---
#
df[df.petal_length.isin(['5.0'])]

In [0]:
# Challenge 4a
# ---
# Question: Select records where the sepal_width is 3.0
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Example 4b
# ---
# Selecting the records where column doesn't have certain values 
# in our case, where petal_leghth is not 5.0
# ---
# OUR CODE GOES BELOW
# 

df[~df.petal_length.isin(['5.0'])]

In [0]:
# Challenge 4b
# ---
# Question: Select all the Sports video games from the video games dataset.
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Example 4c
# ---
# Selecting records using filters where petal_width greater than 1.9
# ---
# OUR CODE GOES BELOW
# 

df[(df['petal_width'] > 1.9)]

In [0]:
# Challenge 4c
# ---
# Question: Which video games had global sales greater than 50?
# ---
# OUR CODE GOES BELOW
#

## 5. Sorting

In [0]:
# Example 5a
# --- 
# Load the given dataframe in ascending order by reports 
# ---
# OUR CODE GOES BELOW
# 
 
# Sorting our dataset in ascending order by sepal_length
# ---
# 
df.sort_values(by='sepal_length', ascending=1)

In [0]:
# Challenge 5a 
# --- 
# Load the video games dataframe in descending order by Name.
# Hint: ascending = 0 
# ---
# OUR CODE GOES BELOW
#

## 6. Splitting, Merging and Concatenation

In [0]:
# Example 6a
# --- 
# Split the dataframe species column into two columns by using the "-" character
# ---
# OUR CODE GOES BELOW
# 
 
# Dropping null value columns to avoid errors 
df.dropna(inplace = True) 
  
# New data frame with split value columns 
new_df = df["species"].str.split("-", n = 1, expand = True) 
  
# Naking separate first name column from new data frame 
df["family"]= new_df[0] 
  
# Making separate last name column from new data frame 
df["sub-species"]= new_df[1] 
  
# Dropping old Name columns 
df.drop(columns =["species"], inplace = True) 
  
# Displaying our dataframe
df

In [0]:
# Example 2
# ---
# Concatenating (merging) two columns in a dataframe
# ---  
# OUR CODE GOES BELOW
# 

# Concatenating our column
# 
df['species'] = df['family'].str.cat(df['sub-species'],sep="-")

# Dropping old name columns 
#
df.drop(columns = ["family", "sub-species"], inplace = True) 

# Previewing our new dataframe
#
df.head()

In [0]:
# Challenge 6a
# --- 
# Concatenate the the city and state columns from the dataset below. 
# The resulting region column should have city and state seperated by a comma and whitespace.
# ---
# Dataset url = http://bit.ly/SchoolShootingsDataset
# ---
# Step 1: Load the dataset
# Step 2: Preview the dataset 
# Step 3: Perform your concatenation
# Step 4: Dropping old columns
# Step 4: Preview your final dataframe
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Example 6b
# ---
# Merging two dataframes. 
# In this example, we will create two simple dataframes for demonstration purposes.
# ---  
# OUR CODE GOES BELOW
# 

# Let's create our first dataframe and preview it
# 
df1 = pd.DataFrame([[2, 3], [41, 51]], columns=['a', 'b'])
df1.head()

In [0]:
 # Let our second dataframe and preview it
#
df2 = pd.DataFrame([[2, 5], [41, 6]], columns=['a', 'c'])
df2.head()

In [0]:
# Merging our dataframes and storing our resulting dataframe in df3, then previewing it 
# 
df3 = df1.merge(df2, how='left', on='a') 
df3.head()

In [0]:
# Challenge 6b
# --- 
# Merge the following two datasets
# ---
# Dataset 1 url = http://bit.ly/CItiesDB
# Dataset 2 url = http://bit.ly/CountriesDB1
# ---
# OUR CODE GOES BELOW
#

## 7. Exporting Data

In [0]:
# Pre-requisite 7
# ---
# Importing files module 
# ---
# OUR CODE GOES BELOW
#  

# Files module will allow us to download our file from colaboratory
from google.colab import files

In [0]:
# Example 7a
# --- 
# Load the given dataframe in ascending order by reports 
# ---
# OUR CODE GOES BELOW
# 
  
# Create our sample dataframe
data = {'name': ['Daniel', 'Joyce', 'Elizabeth', 'Sanni', 'Sefu'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Nairobi', 'Cairo', 'Cape Town', 'Adis Ababa', 'Mombasa'])
df.head()

In [0]:
# Exporting our sample dataframe as a csv
# ---
# 
 
df.to_csv('example.csv') 

# NB: In order to download our files from colaboratory we need to run the following
#
files.download('example.csv')

In [0]:
# Challenge 7a
# ---
# Question: Export a csv file of your resulting video games dataframe below 
# --- 
# OUR CODE GOES BELOW
#

In [0]:
# Example 7b
# ---
# Exporting our sample dataframe as a excel file (xlsx)
# --- 
# ---
# OUR CODE GOES BELOW
#  

df.to_excel('example.xlsx') 

# NB: In order to download our files from colab we need to run the following
#
files.download('example.xlsx')

In [0]:
# Challenge 7b
# ---
# Question: Export an excel file of your resulting video games dataframe below 
# --- 
# OUR CODE GOES BELOW
#